@purple: #8e4f78;
@yellow: #fcb733;
@green: #739f3e;
@gray: #959991;

// color classes
.purple {
  color: @purple;
}

body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
  width: 100%;
  @media screen and (max-width: 469px) {
    text-align: center;
  }
}

a, a:focus, a:hover, a:active {
  outline: 0;
}

h1 {
  color: @purple;
  margin-top: 0.1em;
  font-weight: 700;
}

.flexrow-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

header {
  z-index: 20;
  .nav-wrapper {
    /* only if call for ideas is present */
    border: none;
    // border-color: @yellow;
  }
  .nav-left a.vote-link {
    display: none;
  }
  .nav-right a.vote-link {
    display: block;
  }
  a.nav-link, a.vote-link {
    padding-top: 0.3em;
    border-color: rgba(0,0,0,0);
    text-decoration: none;
  }
  a.nav-link {
    color: inherit;
    &:hover, &.active {
      border-color: @yellow;
    }
  }
  a.vote-link {
    opacity: 0.5;
    color: white;
    background-color: @green;
  }
  /* only if call for ideas is present */
  .call-for-ideas {
    color: white;
    text-decoration: none;
    div {
      background-color: @yellow;
      p { margin-bottom: 0.15rem }
    }
  }
  @media screen and (min-width: 1199px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 830px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 728px) {
    .nav-left {
      width: 100%;
      justify-content: space-between;
      a.vote-link {
        display: block;
      }
    }
    .nav-right {
      display: none;
    }
  }
  @media screen and (max-width: 479px) {
    font-size: 0.8rem;
  }
}

.header-image {
  min-height: 350px;
  background-image: url("../img/installation_small.png");
  background-size: 100%;
  background-repeat: no-repeat;
  @media screen and (min-width: 601px) {
    background-image: url("../img/installation.png");
  }
  @media screen and (max-width: 593px) {
    min-height: 250px;
  }
  @media screen and (max-width: 417px) {
    min-height: 200px;
  }
  @media screen and (max-width: 341px) {
    min-height: 150px;
  }
}

.content-panel {
  /* only if call for ideas is present */
  padding-top: 1.9em;
  @media screen and (min-width: 1199px) {
    padding-top: 2.5em;
  }
  @media screen and (max-width: 830px) {
    margin-top: 0;
    padding-top: 0;
    .main {
      width: 100%;
      border: none;
    }
    .push {
      display: none;
    }
  }
  @media screen and (min-width: 831px) {
    .main {
      padding-left: 1em;
    }
  }
}

.side-panel {
  /* only if call for ideas is present */
  padding-top: 1.9em;
  @media screen and (min-width: 1199px) {
    h1 {
      font-size: 0.95em;
    }
    padding-top: 2.5em;
  }
  @media screen and (max-width: 830px) {
    /* only if call for ideas is present */
    padding-top: 1.8em;
    position: relative;
    width: 100%;
    h1 {
      font-size: 1em;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 830px) {
    img {
      width: 80%;
    }
    padding-top: 2.65em;
  }
}

.text-box {
  @media screen and (min-width: 1199px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 830px) {
    font-size: 1.2rem;
  }
}

.media-thumb {
  border: 2px solid @yellow;
  border-radius: 0 3px 3px 0;
  margin-bottom: 1.5em;
  .gallery-icon {
    right: 0.35em;
    bottom: 0.35em;
    z-index: 1;
  }
  a {
    color: @purple;
    font-weight: 700;
  }
}

.metadata span {
  color: @gray;
  margin: 0 0.25em;
}

.metadata section.tags {
  display: inline-block;
  margin: 0;
}

.video-wrapper {
  background: #000;
}

.media-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  div {
    width: 100%;
    height: 100%;
  }
}

.media-post {
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  .fa-times-circle {
    position: absolute;
    right: 0.2em;
    top: 0.13em;
    z-index: 1;
    &:before {
      background: white;
      border-radius: 0% 0% 0% 100%;
    }
    &:hover {
      color: @gray;
    }
  }
  .carousel-caption {
    width: initial;
    position: relative;
    left: auto;
    right: auto;
    color: @gray;
    text-shadow: none;
    margin: 0.5em 0;
  }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 100%;
  }
  .carousel-control {
    color: @purple;
    background: none;
    top: auto;
    bottom: 40px;
    opacity: 1;
    &:hover {
      opacity: .5;
    }
    @media screen and (max-width: 768px) {
      bottom: 30px;
    }
  }
  .carousel-indicators .active { background-color: @purple }
  .carousel-indicators li { border: 1px solid @purple; }
}

.rc-modal-panel {
  div {
    width: 100%;
  }
  .ph-5-m.ph7-l {
    @media screen and (min-width: 1200px) {
      padding: 0 30em;
    }
  }
}

.people-panel {
    border-color: @purple;
    .photo-container {
        width: 100%;
        padding-top: 100%;
        position: relative;
    }
    .photo {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.about-section {
  margin-bottom: 2em;
  img {
    width: 30%;
    margin: 0 1%;
    @media screen and (max-width: 550px) {
      width: 80%;
    }
  }
}

.social-link, #about-auraria-pb p:last-child {
  img {
    margin-right: 0.5em;
    width: 1.5em;
  }
}

.sub-navigation-wrapper {
  width: 100%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#tags {
  display: none;
  text-align: center;
  li {
    margin-left: -5px;
  }
  span.tag {
    margin: 0 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    -khtml-user-select: none; /* Konqueror HTML */
    user-select: none; /* Standard syntax */
  }
  a {
    color: @green;
  }
  @media screen and (min-width: 831px) {
    display: block;
  }
}

.sub-navigation {
  a {
    color: @green;
    font-size: 1em;
    font-weight: 300;
  }
  @media screen and (max-width: 445px) {
    text-align: center;
  }
  @media screen and (min-width: 831px) {
    .divider {
      display: none;
    }
  }
  @media screen and (min-width: 446px) and (max-width: 830px) {
    ul, li {
      display: inline-block;
      margin: 0 0.5em;
    }
    li {
      margin-bottom: 0.4em;
    }
    li.last {
      display: block;
      text-align: center;
    }
    li.divider.last {
      display: none;
    }
  }
}

#tags, .sub-navigation {
  a {
    cursor: pointer;
    line-height: 0.9em;
    text-decoration: none;
    &.active-tag {
      font-weight: 800;
    }
  }
  li {
    line-height: 0.9em;
    margin-bottom: 0.9em;
  }
  .divider {
    color: black;
  }
  @media screen and (max-width: 830px) {
    ul, li {
      display: inline-block;
      margin: 0 0.5em 1.75em 0.5em;
    }
    li {
      margin-bottom: 0.4em;
    }
  }
}

.event-wrapper {
  @media screen and (max-width: 600px) {
    text-align: left;
  }
  border-color: @yellow;
  .event-heading {
    h2 {
      font-size: 1.6em;
      @media screen and (max-width: 600px) {
        font-size: 1.4em;
      }
    }
    h3 { color: @gray }
    .fa-calendar-o {
      font-size: 5em;
    }
    .calendar-date {
      top: 1.73em;
      line-height: 1.36em;
    }
  }
}

.footer {
  margin-top: auto;
  margin-bottom: 2.5em;
  border-color: @yellow;
  border-width: 3px;
}

* {
  min-height: auto;
  min-width: auto;
}

/* loading */

.loading-component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 300px !important;
  .loading-dots {
    position: relative;
    height: 0;
    width: 0;
    span{
      display: block;
      height: 20px;
      width: 20px;
      background: @purple;
      position: absolute;
      border-radius: 50%;

      &:nth-of-type(1){
        left: -40px;
        animation: loader1Anim 1.5s ease-out;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: forwards;
      }
      &:nth-of-type(2){
        left:-10px;
        animation: loader1Anim 1.5s ease;
        animation-delay: .2s;
        animation-iteration-count: infinite;
        animation-direction: forwards;
      }
      &:nth-of-type(3){
        left: 20px;
        animation: loader1Anim 1.5s ease;
        animation-delay: .4s;
        animation-iteration-count: infinite;
        animation-direction: forwards;
      }
    }
  }
}

@keyframes loader1Anim {
  from,to {
     transform: scale3d(1.15, 0.80, 1);
  }
  42% {
    transform: translateY(-45px) ;
  }
  88% {
    transform: scale3d(1,1,1);
  }
  95% {
    transform: translateY(0) scale3d(1.05, 0.85, 1);
  }
  98% {
    transform: scale3d(1.15, 0.80, 1);
  }
}
