@purple: #8e4f78;
@yellow: #fcb733;
@green: #739f3e;

body {
    font-family: 'Roboto Condensed';
    font-size: 1.2em;
    h1 {
        color: @purple;
    }
}

header {
    font-size: 1.5em;
}

.people-panel {
    border-color: @purple;
}

a.nav-link {
    color: black;
    text-decoration: none;
    &:hover {
        border: .125rem solid @yellow;
    }
}

a.vote-link {
    color: white;
    text-decoration: none;
    background-color: @green;
}
