language: clojure
lein: 2.5.3
sudo: true
script: "lein cljsbuild once min"
before_deploy: "cd resources/public"
notifications:
  slack: mmmanyfold:btrRxnKQi6jBFPrB4CM0YCXp

deploy:
  provider: s3
  access_key_id: ${AWS_ACCESS_KEY_ID}
  secret_access_key: ${AWS_SECRET_ACCESS_KEY}
  bucket: "www.thismachinehasasoul.com"
  skip_cleanup: true
  region: us-west-2
