.purple {
  color: #8e4f78;
}
body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
  width: 100%;
}
@media screen and (max-width: 469px) {
  body {
    text-align: center;
  }
}
a,
a:focus,
a:hover,
a:active {
  outline: 0;
}
h1 {
  color: #8e4f78;
  margin-top: 0.1em;
  font-weight: 700;
}
.flexrow-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
header {
  z-index: 20;
  /* only if call for ideas is present */
}
header .nav-wrapper {
  /* only if call for ideas is present */
  border: none;
}
header .nav-left a.vote-link {
  display: none;
}
header .nav-right a.vote-link {
  display: block;
}
header a.nav-link,
header a.vote-link {
  padding-top: 0.3em;
  border-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
header a.nav-link {
  color: inherit;
}
header a.nav-link:hover,
header a.nav-link.active {
  border-color: #fcb733;
}
header a.vote-link {
  opacity: 0.5;
  color: white;
  background-color: #739f3e;
}
header .call-for-ideas {
  color: white;
  text-decoration: none;
}
header .call-for-ideas div {
  background-color: #fcb733;
}
header .call-for-ideas div p {
  margin-bottom: 0.14rem;
}
@media screen and (min-width: 1199px) {
  header {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 830px) {
  header {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  header .nav-left {
    width: 100%;
    justify-content: space-between;
  }
  header .nav-left a.vote-link {
    display: block;
  }
  header .nav-right {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  header {
    font-size: 0.8rem;
  }
}
.content-panel {
  /* only if call for ideas is present */
  padding-top: 2.3em;
}
@media screen and (max-width: 830px) {
  .content-panel {
    margin-top: 0;
    padding-top: 0;
  }
  .content-panel .main {
    width: 100%;
    border: none;
  }
  .content-panel .push {
    display: none;
  }
}
@media screen and (min-width: 831px) {
  .content-panel .main {
    padding-left: 1em;
  }
}
.side-panel {
  /* only if call for ideas is present */
  padding-top: 2.3em;
}
@media screen and (min-width: 1199px) {
  .side-panel h1 {
    font-size: 0.95em;
  }
}
@media screen and (max-width: 830px) {
  .side-panel {
    /* only if call for ideas is present */
    padding-top: 1.5em;
    position: relative;
    width: 100%;
  }
  .side-panel h1 {
    font-size: 1em;
  }
}
@media screen and (min-width: 500px) and (max-width: 830px) {
  .side-panel img {
    width: 60%;
  }
}
.media-thumb {
  border: 1px solid #fcb733;
  border-radius: 0 3px 3px 0;
  margin-bottom: 1.5em;
}
.media-thumb .gallery-icon {
  right: 0.35em;
  bottom: 0.35em;
  z-index: 1;
}
.media-thumb a {
  color: #8e4f78;
  font-weight: 700;
}
.metadata span {
  color: #959991;
  margin: 0 0.25em;
}
.metadata section.tags {
  display: inline-block;
  margin: 0;
}
.video-wrapper {
  background: #000;
}
.media-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.media-wrapper div {
  width: 100%;
  height: 100%;
}
.media-post {
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  position: relative;
}
.media-post .fa-times-circle {
  position: absolute;
  right: 0.2em;
  top: 0.13em;
  z-index: 1;
}
.media-post .fa-times-circle:before {
  background: white;
  border-radius: 0% 0% 0% 100%;
}
.media-post .fa-times-circle:hover {
  color: #959991;
}
.media-post .carousel-caption {
  width: initial;
  position: relative;
  left: auto;
  right: auto;
  color: #959991;
  text-shadow: none;
  margin: 0.5em 0;
}
.media-post .carousel-inner > .item > a > img,
.media-post .carousel-inner > .item > img,
.media-post .img-responsive,
.media-post .thumbnail a > img,
.media-post .thumbnail > img {
  width: 100%;
}
.media-post .carousel-control {
  color: #8e4f78;
  background: none;
  top: auto;
  bottom: 40px;
  opacity: 1;
}
.media-post .carousel-control:hover {
  opacity: .5;
}
@media screen and (max-width: 768px) {
  .media-post .carousel-control {
    bottom: 30px;
  }
}
.media-post .carousel-indicators .active {
  background-color: #8e4f78;
}
.media-post .carousel-indicators li {
  border: 1px solid #8e4f78;
}
.rc-modal-panel div {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .rc-modal-panel .ph-5-m.ph7-l {
    padding: 0 30em;
  }
}
.people-panel {
  border-color: #8e4f78;
}
.people-panel .photo-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.people-panel .photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.about-section {
  margin-bottom: 2em;
}
.about-section img {
  width: 30%;
  margin: 0 1%;
}
.sub-navigation-wrapper {
  width: 100%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#tags {
  text-align: center;
}
#tags li {
  margin-left: -5px;
}
#tags span.tag {
  margin: 0 5px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  -khtml-user-select: none;
  /* Konqueror HTML */
  user-select: none;
  /* Standard syntax */
}
#tags a {
  color: #739f3e;
}
.sub-navigation a {
  color: #739f3e;
  font-size: 1em;
  font-weight: 300;
}
@media screen and (max-width: 445px) {
  .sub-navigation {
    text-align: center;
  }
}
@media screen and (min-width: 831px) {
  .sub-navigation .divider {
    display: none;
  }
}
@media screen and (min-width: 446px) and (max-width: 830px) {
  .sub-navigation ul,
  .sub-navigation li {
    display: inline-block;
    margin: 0 0.5em;
  }
  .sub-navigation li {
    margin-bottom: 0.4em;
  }
  .sub-navigation li.last {
    display: block;
    text-align: center;
  }
  .sub-navigation li.divider.last {
    display: none;
  }
}
#tags a,
.sub-navigation a {
  cursor: pointer;
  line-height: 0.9em;
  text-decoration: none;
}
#tags a.active-tag,
.sub-navigation a.active-tag {
  font-weight: 800;
}
#tags li,
.sub-navigation li {
  line-height: 0.9em;
  margin-bottom: 0.9em;
}
#tags .divider,
.sub-navigation .divider {
  color: black;
}
@media screen and (max-width: 830px) {
  #tags ul,
  .sub-navigation ul,
  #tags li,
  .sub-navigation li {
    display: inline-block;
    margin: 0 0.5em;
  }
  #tags li,
  .sub-navigation li {
    margin-bottom: 0.4em;
  }
}
.event-wrapper {
  border-color: #fcb733;
}
@media screen and (max-width: 600px) {
  .event-wrapper {
    text-align: left;
  }
}
.event-wrapper .event-heading h2 {
  font-size: 1.6em;
}
@media screen and (max-width: 600px) {
  .event-wrapper .event-heading h2 {
    font-size: 1.4em;
  }
}
.event-wrapper .event-heading h3 {
  color: #959991;
}
.event-wrapper .event-heading .fa-calendar-o {
  font-size: 5em;
}
.event-wrapper .event-heading .calendar-date {
  top: 1.73em;
  line-height: 1.36em;
}
.footer {
  margin-top: auto;
  margin-bottom: 2.5em;
  border-color: #fcb733;
}
* {
  min-height: auto;
  min-width: auto;
}
/* loading */
.loading-component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 300px !important;
}
.loading-component .loading-dots {
  position: relative;
  height: 0;
  width: 0;
}
.loading-component .loading-dots span {
  display: block;
  height: 20px;
  width: 20px;
  background: #8e4f78;
  position: absolute;
  border-radius: 50%;
}
.loading-component .loading-dots span:nth-of-type(1) {
  left: -40px;
  animation: loader1Anim 1.5s ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}
.loading-component .loading-dots span:nth-of-type(2) {
  left: -10px;
  animation: loader1Anim 1.5s ease;
  animation-delay: .2s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}
.loading-component .loading-dots span:nth-of-type(3) {
  left: 20px;
  animation: loader1Anim 1.5s ease;
  animation-delay: .4s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}
@keyframes loader1Anim {
  from,
  to {
    transform: scale3d(1.15, 0.8, 1);
  }
  42% {
    transform: translateY(-45px);
  }
  88% {
    transform: scale3d(1, 1, 1);
  }
  95% {
    transform: translateY(0) scale3d(1.05, 0.85, 1);
  }
  98% {
    transform: scale3d(1.15, 0.8, 1);
  }
}
