body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
}
body h1 {
  color: #8e4f78;
}
header {
  font-size: 1.5em;
}
.people-panel {
  border-color: #8e4f78;
}
a.nav-link {
  color: black;
  text-decoration: none;
}
a.nav-link:hover,
a.nav-link.active {
  border-color: #fcb733;
}
a.vote-link {
  color: white;
  text-decoration: none;
  background-color: #739f3e;
}
