body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
}
body h1 {
  color: #8e4f78;
}
.people-panel {
  border-color: #8e4f78;
}
.nav-link a {
  color: black;
}
.nav-link:hover {
  border: 2px solid #fcb733;
}
