.purple {
  color: #8e4f78;
}
body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
  width: 100%;
}
@media screen and (max-width: 469px) {
  body {
    text-align: center;
  }
}
h1 {
  color: #8e4f78;
  margin-top: 0.5em;
  font-weight: 700;
}
.flexrow-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
header {
  z-index: 20;
}
header .nav-left .vote-link {
  display: none;
  outline: none;
}
header .nav-right .vote-link {
  display: block;
}
@media screen and (min-width: 1199px) {
  header {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 830px) {
  header {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  header .nav-left {
    width: 100%;
    justify-content: space-between;
  }
  header .nav-left .vote-link {
    display: block;
  }
  header .nav-right {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  header {
    font-size: 0.8rem;
  }
}
a.nav-link,
a.vote-link {
  padding-top: 0.3em;
  border-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
a.nav-link {
  color: black;
}
a.nav-link:hover,
a.nav-link.active {
  border-color: #739f3e;
}
a.vote-link {
  opacity: 0.5;
  color: white;
  background-color: #739f3e;
}
@media screen and (max-width: 830px) {
  .content-panel {
    margin-top: 0;
  }
  .content-panel .main {
    width: 100%;
    border: none;
  }
  .content-panel .push {
    display: none;
  }
}
@media screen and (min-width: 1199px) {
  .side-panel h1 {
    font-size: 0.95em;
  }
}
@media screen and (max-width: 830px) {
  .side-panel {
    position: relative;
    width: 100%;
  }
  .side-panel h1 {
    font-size: 1em;
  }
}
@media screen and (min-width: 500px) and (max-width: 830px) {
  .side-panel img {
    width: 60%;
  }
}
.media-thumb {
  width: 47%;
  margin-bottom: 1.5em;
}
@media (max-width: 768px) {
  .media-thumb {
    width: 100%;
  }
}
.media-thumb .gallery-icon {
  right: 0.35em;
  bottom: 0.35em;
  z-index: 1;
}
.media-thumb a {
  color: #fcb733;
}
.metadata span {
  color: #959991;
  margin: 0 0.25em;
}
.metadata section.tags {
  display: inline-block;
  margin: 0;
}
.media-thumb .metadata p {
  display: none;
}
.media-thumb .metadata p:first-of-type {
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-wrapper {
  background: #000;
}
.media-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.media-wrapper div {
  width: 100%;
  height: 100%;
}
.media-post {
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  position: relative;
}
.media-post .fa-times-circle {
  position: absolute;
  right: 0.2em;
  top: 0.13em;
  z-index: 1;
}
.media-post .fa-times-circle:before {
  background: white;
  border-radius: 0% 0% 0% 100%;
}
.media-post .fa-times-circle:hover {
  color: #959991;
}
.media-post .carousel-caption {
  width: initial;
  position: relative;
  left: auto;
  right: auto;
  color: #959991;
  text-shadow: none;
  margin: 0.5em 0;
}
.media-post .carousel-inner > .item > a > img,
.media-post .carousel-inner > .item > img,
.media-post .img-responsive,
.media-post .thumbnail a > img,
.media-post .thumbnail > img {
  width: 100%;
}
.media-post .carousel-control {
  color: #8e4f78;
  background: none;
  top: auto;
  bottom: 40px;
  opacity: 1;
}
.media-post .carousel-control:hover {
  opacity: .5;
}
@media screen and (max-width: 768px) {
  .media-post .carousel-control {
    bottom: 30px;
  }
}
.media-post .carousel-indicators .active {
  background-color: #8e4f78;
}
.media-post .carousel-indicators li {
  border: 1px solid #8e4f78;
}
.rc-modal-panel div {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .rc-modal-panel .ph-5-m.ph7-l {
    padding: 0 30em;
  }
}
.people-panel {
  border-color: #8e4f78;
}
.people-panel .photo-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.people-panel .photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.about-section {
  margin-bottom: 2em;
}
.about-section img {
  width: 30%;
  margin: 0 1%;
}
.mail {
  border-color: #fcb733;
}
.sub-navigation-wrapper {
  width: 100%;
}
#tags {
  text-align: center;
}
#tags li {
  margin-left: -5px;
}
#tags span.tag {
  margin: 0 5px;
}
#tags a {
  color: #8e4f78;
}
.sub-navigation a {
  color: #739f3e;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 445px) {
  .sub-navigation {
    text-align: center;
  }
}
@media screen and (min-width: 831px) {
  .sub-navigation .divider {
    display: none;
  }
}
@media screen and (min-width: 446px) and (max-width: 830px) {
  .sub-navigation ul,
  .sub-navigation li {
    display: inline-block;
    margin: 0 0.5em;
  }
  .sub-navigation li {
    margin-bottom: 0.4em;
  }
  .sub-navigation li.last {
    display: block;
    text-align: center;
  }
  .sub-navigation li.divider.last {
    display: none;
  }
}
#tags a,
.sub-navigation a {
  cursor: pointer;
  line-height: 0.9em;
  text-decoration: none;
}
#tags a:hover,
.sub-navigation a:hover,
#tags a.active-tag,
.sub-navigation a.active-tag {
  font-weight: 800;
}
#tags li,
.sub-navigation li {
  line-height: 0.9em;
  margin-bottom: 0.7em;
}
#tags .divider,
.sub-navigation .divider {
  color: black;
}
@media screen and (max-width: 830px) {
  #tags ul,
  .sub-navigation ul,
  #tags li,
  .sub-navigation li {
    display: inline-block;
    margin: 0 0.5em;
  }
  #tags li,
  .sub-navigation li {
    margin-bottom: 0.4em;
  }
}
.footer {
  margin-top: auto;
  margin-bottom: 2.5em;
}
