body {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
}
h1 {
  color: #8e4f78;
}
.flexrow-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (min-width: 1199px) {
  header {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1198px) {
  header {
    font-size: 1.45rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    font-size: 1rem;
  }
}
@media screen and (max-width: 479px) {
  header {
    font-size: 0.8rem;
  }
}
a.nav-link {
  color: black;
}
a.nav-link:hover,
a.nav-link.active {
  border-color: #fcb733;
  text-decoration: none;
}
a.vote-link {
  color: white;
  text-decoration: none;
  background-color: #739f3e;
}
@media screen and (max-width: 960px) {
  .content-panel {
    overflow-y: visible;
  }
}
.media-thumb {
  width: 47%;
  margin-bottom: 1.5em;
}
@media (max-width: 768px) {
  .media-thumb {
    width: 100%;
  }
}
.media-thumb .gallery-icon {
  right: 0.35em;
  bottom: 0.35em;
  z-index: 1;
}
.media-thumb a {
  color: #fcb733;
}
.metadata span {
  color: #959991;
  margin: 0 0.25em;
}
.metadata section.tags {
  display: inline-block;
  margin: 0;
}
.video-wrapper {
  background: #000;
}
.media-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.media-wrapper div {
  width: 100%;
  height: 100%;
}
.media-post {
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  position: relative;
}
.media-post .fa-times-circle {
  position: absolute;
  right: 0.2em;
  top: 0.13em;
  z-index: 1;
}
.media-post .fa-times-circle:before {
  background: white;
  border-radius: 0% 0% 0% 100%;
}
.media-post .fa-times-circle:hover {
  color: #959991;
}
.media-post .carousel-caption {
  width: initial;
  position: relative;
  left: auto;
  right: auto;
  color: #959991;
  text-shadow: none;
  margin: 0.5em 0;
}
.media-post .carousel-inner > .item > a > img,
.media-post .carousel-inner > .item > img,
.media-post .img-responsive,
.media-post .thumbnail a > img,
.media-post .thumbnail > img {
  width: 100%;
}
.media-post .carousel-control {
  color: #8e4f78;
  background: none;
  top: auto;
  bottom: 40px;
  opacity: 1;
}
.media-post .carousel-control:hover {
  opacity: .5;
}
@media screen and (max-width: 768px) {
  .media-post .carousel-control {
    bottom: 30px;
  }
}
.media-post .carousel-indicators .active {
  background-color: #8e4f78;
}
.media-post .carousel-indicators li {
  border: 1px solid #8e4f78;
}
.rc-modal-panel div {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .rc-modal-panel .ph-5-m.ph7-l {
    padding: 0 30em;
  }
}
.people-panel {
  border-color: #8e4f78;
}
.about-section img {
  width: 30%;
  margin: 0 1%;
}
.mail {
  align-self: flex-start;
  bottom: 2em;
  border-color: #fcb733;
  margin-top: 1.5em;
}
.mail-ns {
  position: fixed;
}
@media (max-width: 959px) {
  .mail-ns {
    display: none;
  }
}
@media (max-width: 768px), (min-width: 960px) {
  .mail-s {
    display: none;
  }
}
.mail-xs a {
  color: black;
  text-decoration: none;
}
@media (min-width: 769px) {
  .mail-xs {
    display: none;
  }
}
